.page {width: 100%;height: 100%;}
#frame01 {background-color: #fee801;}
.logo {width: 47%;padding-top: 2%;margin-left: 2%;}
.banner {width: 91.25%;margin-top: 3.5%;margin-left: 4.35%;}
#frame02 {background-color: #14a2d4;} 
#frame03 {background-color: #af5e9c;}
#frame04 {background-color: #00b16a;}
#frame05 {background-color: #f7941e;}
#frame02 img, #frame03 img, #frame04 img, #frame05 img {width: 100%;}
.mt {padding-top: 2%;}
.container {position: absolute;bottom: 0;left: 1%;width: 100%;}
.f02_bt {width: 30% !important;} 
.f03_bt {width: 32% !important;}
.f04_bt {width: 40% !important;margin-left: 12%;}

.job_wrap {position: relative;width: 100%;height: 100%;background-color: #fee801;}
.dark_bg {position: absolute;width: 100%;height: 210px;background-color: #5d5d5d;top: 70px;left: 0;z-index: 9;}
.jt_title {position: absolute;z-index: 10;color: #5d5d5d;font-size: 2.14em;line-height: 40px;font-weight: bold;border-top: 1px solid #5d5d5d;border-right: 1px solid #5d5d5d;border-radius: 0 10px 0 0;top: 30px;}
.jt_content {position: absolute;z-index: 10;font-size: 1em;color: #fff;top: 75px;}
.jb_title {position: absolute;z-index: 10;color: #fee801;font-size: 2.14em;line-height: 40px;font-weight: bold;border-top: 1px solid #fee801;border-left: 1px solid #fee801;border-radius: 10px 0 0 0;top: 240px;right: 0;}
.jb_content {position: absolute;z-index: 10;font-size: 1em;color: #5d5d5d;text-align: right;top: 285px;right: 0;}
.detail_btn {position: absolute;z-index: 11;width: 45px;height: 45px;border-radius: 50%;line-height: 45px;text-align: center;}
.light_btn {background-color: #fee801;color: #5d5d5d;top: 110px;right: 10%;}
.dark_btn {background-color: #5d5d5d;color: #fee801;top: 330px;left: 10%;}

.job_detail {display: none;width: 100%;height: 100%;position: fixed;top: 0;left: 0;background-color: #5d5d5d;z-index: 999;}
.job_detail h2 {font-size: 21px;color: #5d5d5d;font-weight: bold;line-height: 40px;text-indent: 10px;background-color: #fee801;}
.job_detail h5 {font-size: 15px;color: #fff;text-indent: 10px;line-height: 30px;}
.job_detail p {font-size: 12px;color: #fff;text-indent: 0px;padding: 0 10px;line-height: 20px;}
.close {position: absolute;width: 8.6%;bottom: 5%;left: 45.8%;}

.email_wrapper {background-color: #fee801;width: 100%;height: 100%;}
.send {width: 92.5%;padding-top: 30%;}

.page_count {position: fixed;right: 10px;bottom: 10px;color: #fff;font-size: 12px;z-index: 1000;font-family: Verdana;}